.banner {
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
  height: 692px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;

}

.banner-title {
  position: absolute;
  top: 20%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: #000000d2;
  z-index: 1;
  width: 100%;
}

.banner-title h1 {
  font-size: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 4.5rem;
  margin: 10px;
  letter-spacing: -1.5px;
}

.banner-title p {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.banner-title button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 17px;
  line-height: 20.002px;
  font-weight: 400;
  letter-spacing: -0.374px;
  background-color: #0177df;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  cursor: pointer;
}
