
.navbar {
  background-color:#ffffff;
  backdrop-filter: blur(4px);
  color: #ffff;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position:fixed;
  width: 100%;
  height: 44px;
  top: 0;
  z-index: 1000;

}
.navbar nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.navbar a {
  text-decoration: none;
  font-size: 12.5px;
  font-weight: 400;
  color: #333333d4;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-icon {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  gap: 20px;
}

.navbar button {
  display: none;
}


/* responsive-screen */

@media (max-width: 833px) {
  .navbar nav {
    display: none;
  }
  .navbar .icon {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    margin-left: 20px;
  }
  .r-icon {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-right: 20px;
  }
  .r-icon button {
    display: block;
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
}
