* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  text-align: center;
  padding: 2rem 0;
}

.header-title {
  font-size: 4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

.carousel-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  padding-left: 15%;
  padding-right: 15%;
}

.slide {
  width: 70%;
  flex-shrink: 0;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
}

.slide-bg {
  position: absolute;
  top:0;
  left:3%;
  right: 0;
  bottom: 10%;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.slide-content {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:35%;
  gap: 20px;
  margin-left: 2%;
}



.slide-title {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  letter-spacing: -0.025em;
}

.stream-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius:30px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  font-size: 1rem;;
  transition: background-color 0.3s;
}

.stream-button:hover {
  background-color: #f3f4f6;
}

.slide-info {
  color: white;
  font-size: 1.125rem;
}

.genre {
  font-weight: 600;
}

.dots-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 20;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
  background-color: rgba(108, 103, 103, 0.5);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.dot:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.dot-active {
  background-color: rgb(70, 70, 70);
  width: 2rem;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 2rem;
  }

  .slide-title {
    font-size: 2.5rem;
  }

  .slide {
    height: 400px;
  }
}
