/* Hero2.css */
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.btn-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-style button {
  margin-top: 10px;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.5px;
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.btn-style button:nth-child(2) {
  background-color: transparent;
  color: #0066cc;
  border: 1px solid #0066cc;
}

.btn-style button:nth-child(2):hover {
  background-color: #0066cc;
  color: white;
}
